.watches-section {
    padding: 80px 132px;
}

.block-title {
    color: rgba(20, 20, 20, 0.40);
    font-size: 12px;
    font-weight: 300;
    line-height: 14px;
    /*letter-spacing: 0.72px;*/
    margin: 0;
}

.block-subtitle {
    font-size: 40px;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: -0.8px;
    margin-top: 8px;
    margin-bottom: 80px
}

.block-images1 {
    padding-left: 24px;
}