h2 {
    margin: 50px;
    font-weight: 600;
    font-size: 40px;
}

.catalog-section {
    justify-content: center;
    margin: 80px;
}

.catalog-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 50px;
    column-gap: 24px;
    row-gap: 64px;

    padding-left: 5%
}

.catalog-section li {
    list-style-type: none;
}

.catalog-section li img {
    display: block;
    padding: 15px;
}

.catalog-section p {
    font-weight: 400;
    color: #FFFFFF80;
}

.catalog-image-item {
    position: relative;
    overflow: hidden;
}

.catalog-image-item-1 {
    position: relative;
    overflow: hidden;
}

.catalog-image-item:hover .catalog-image-caption-1 {
    transform: translateY(0);
}

.catalog-image-item-1:hover .catalog-image-caption-1 {
    transform: translateY(0);
}

.catalog-image-item>.catalog-watch-name {
    overflow: hidden;
    color: var(--black);
    // line-height: 18px;
    /* 128.571% */
    letter-spacing: -0.28px;
    width: 255px;
    height: 18px;
}

.catalog-image-item-1>.catalog-watch-name {
    overflow: hidden;
    color: var(--black);
    // line-height: 18px;
    /* 128.571% */
    letter-spacing: -0.28px;
    width: 255px;
    height: 18px;
}

.catalog-image-item>.catalog-watch-price {
    color: rgba(20, 20, 20, 0.50);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    /* 116.667% */
    letter-spacing: -0.24px;
}

.catalog-image-item-1>.catalog-watch-price {
    color: rgba(20, 20, 20, 0.50);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    /* 116.667% */
    letter-spacing: -0.24px;
}

.catalog-image-caption-1 {
    position: absolute;
    background-color: var(--dark-green);
    color: var(--white);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    padding-left: 20px;
    border-radius: 8px;
    transform: translateY(110%);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1)500ms;
}

.catalog-description {
    font-weight: 400;
    padding-top: 25px;
    padding-bottom: 10px;
}

/* End of Catalog Design */
/* BUTTON design */
.catalog-button {
    background-color: var(--dark-green);
    color: var(--white);
    font-weight: 400;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 8px;
    display: block;
    margin-left: 75%;
}

.catalog-button:hover {
    border-color: var(--white);
}

/* Modal Design */
.catalog-backdrop {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    width: 904px;
    height: 694px;
    background-color: white;
    position: absolute;
    border-radius: 4px;
    padding: 24px;
    margin-top: 10px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.modal img {
    margin-top: 50px;
}

.modal p {
    color: #14141480;
}

.modal form {
    margin-left: 0;
}

.catalog-watch-name-1 {
    padding-bottom: 0;
}

.watch-break {
    margin-bottom: 78%;
    color: #14141480;
    padding-bottom: 10%;
    margin-top: 0;
    padding-top: 0;
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.modal-close-btn {
    border-radius: 100%;
    border: 1px solid var(--white);
    background-color: white;
    width: 20px;
    height: 20px;
    color: blue;
    display: block;
    margin-left: auto;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

.modal-close-btn:hover {
    fill: currentColor;
    border: 1px solid currentColor;
}

.service-input {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 8px;
    margin-top: 12px;
    margin-bottom: 24px;
}

.service-form textarea {
    margin-top: 10px;
}

.catalog-last-button {
    display: inline-block;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 25%;
    padding-right: 25%;
    background-color: var(--dark-green);
    color: #FFF;
    font-size: 12px;
    border-radius: 4px;
    margin-top: 20px;
    border: none;
}

.catalog-policy {
    color: #14141466;
    font-size: 12px;
    font-weight: 400;
    padding-top: 5px;
}

.catalog-policy span {
    text-decoration: underline;
}

// Tablet Media Querries 
@media (min-width: 768px) and (max-width: 1157px) {
    .catalog-image-item-1 {
        display: none;
    }

    .catalog-button {
        margin-left: 77%;
    }

    .catalog-watch-name-1 {
        margin-right: 2px;
    }

    .catalog-backdrop {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        position: fixed;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .modal {
        width: 744px;
        height: 670px;
        background-color: white;
        position: absolute;
        border-radius: 4px;
        margin-top: 10px;
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

    .watch-break {
        margin-bottom: 50%;
        margin-right: 20px;
        color: #14141480;
        margin-top: 0;
        padding-top: 0;
    }

    .modal-heart {
        padding-left: 10px;
        padding-bottom: 10px;
        display: flex;
        justify-content: flex-end;
    }

    .modal img {
        margin-top: 0px;
    }

    .service-input {
        box-sizing: border-box;
        width: 350px;
        height: 40px;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 16px;
        padding-right: 16px;
        border-radius: 8px;
        margin-top: 12px;
        margin-bottom: 24px;
    }

    .text {
        box-sizing: border-box;
        width: 350px;
        height: 200px;
    }

    .catalog-last-button {
        box-sizing: border-box;
        width: 350px;
        height: 40px;
    }

    .catalog-policy {
        font-size: 11px;
    }

    .watch-break {
        padding-bottom: 45%;
    }
}