/* start of hero style */
.hero-container {
    display: flex;
        margin: 0 132px 0 132px;
    flex-wrap: wrap;
}

.hero-container li {
    padding-top: 80px;
}

.hero-disc {
    display: flex;
    gap: 144px;
}

.hero-disc li h1 {
    font-size: 60px;
    font-weight: 600;
    line-height: 62px;
    /* 103.333% */
    letter-spacing: -2.4px;
}

.hero-disc li p {
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    /* 128.571% */
    letter-spacing: -0.28px;
    width: 282px;
}

.hero-image {
    display: flex;
    flex-wrap: wrap;
    gap: 64px;
}

.hero-img {
    margin-bottom: 125px;
}

/* end of hero style  */

/* Slideshow container */
.swiper {
    display: flex;
    width: 436px;
    height: 255px;
    flex-shrink: 0;
    flex-shrink: 0;
    background-color: var(--dark-green);
    justify-content: center;
}

.slider-container {
    position: relative;
    padding: 0px;
}

.slide-button {
    position: relative;
}

.swiper-buttons {
    display: flex;
    width: 100px;
    margin-top: 50px;
    transform: translateY(-70%);
}

.swiper-wrapper {
    text-align: center;
}

.swiper-slide img {
    width: 348px;
    height: 233px;
    flex-shrink: 0;
}

.swiper-pagination-custom {
    display: flex;
    left: 275px;
    text-align: right;
    align-items: end;

}

.swiper-pagination {
    width: 50px;
    padding: 35px;

}

.swiper-pagination-line::after {
    content: "";
    position: absolute;
    top: 50%;

    height: 1px;
    background-color: var(--white);
    transform: translateY(-50%);
    width: 40px;
}

.slide-count {
    padding-left: 45px;
    padding-right: 5px;

}

.svg-button {
    border: 1px solid var(--white);
    margin: 5px;
    border-radius: 8px;
    width: 40px;
    height: 40px;
}
