<section class="about-section container">
    <ul class="about-container">
        <li>
            <h2 id="about">About us</h2>
        </li>
        <li>
            <ul class="about-disc">
                <ul class="about-disc-container">
                    <li class="about-text">
                        <p>Welcome to our premium watch collection, where luxury and style meet functionality and precision. Our
                            selection of timepieces embodies the very best in Swiss craftsmanship and engineering, ensuring that
                            you'll always have a reliable and stylish accessory on your wrist.</p>
                    </li>
                    <li class="about-text two">
                        <p>At our premium watch collection, we believe that a watch is more than just a timekeeping device - it's a
                            statement piece that reflects your personality and style. So why settle for anything less than the best?
                            Browse our collection today and discover the perfect watch for you.</p>
                    </li>
                </ul>
                <li class="about-image">
                    <!-- <div class="about-image"></div> -->
                </li>
            </ul>
        </li>
    </ul>
</section>