<!-- block section -->
<section class="watches-section">
    <!-- not sure if ul or table we use -->
    <ul class="watches-container container">
        <li class="watch-title-container">
            <ul class="watch-title-list">
                <li class="watch-title-head">
                    <p>New Watches</p>
                </li>
                <li class="watch-title-subhead">
                    <p>Green And Bronze—The Match Made In Heaven</p>
                </li>
            </ul>
        </li>
        <li class="watches-image-container">
            <ul class="watches-image-list">
                <li class="watch-img">
                    <img src="./images/block_2.jpg" alt="">
                </li>
                <li class="watch-img">
                    <img src="./images/block_1.jpg" alt="">
                </li>
            </ul>
        </li>
    </ul>
</section>