<!-- block section -->
<section class="watches-section">
    <h2 class="block-title">New Watches</h2>
    <!-- not sure if ul or table we use -->
    <table>
        <p class="block-subtitle">Green And Bronze—The <br>
            Match Made In Heaven</p>
        <tr>
            <td class="block-images">
                <img src="./images/block_2.jpg" alt="">
            </td>
            <td class="block-images1">
                <img src="./images/block_1.jpg" alt="">
            </td>
        </tr>
    </table>
</section>