<footer>
    <section class="section-footer">
        <ul class="footer-list">
            <li>
                <svg class="logo footer-logo" width="19" height="19">
                    <use href="./images/icons.svg#icon-logo"></use>
                </svg>
            </li>
            <li class="contact-list">
                <a href="tel:+380684439426">+380 (68) 443-94-26</a>
            </li>
            <li class="address-list">
                <p>1678 S. Pioneer Road
                    Salt Lake City
                    UT 84104</p>
            </li>
        </ul>

        <ul class="nav-list nav-footer">
            <!-- target about us section -->
            <li class=""><a href="#about">about us</a></li>
            <!-- target catalog section -->
            <li class=""><a href="#catalog">catalog</a></li>
            <!-- target sale section -->
            <li class=""><a href="#sale">sale</a></li>
        </ul>

        <ul class="social-footer">
            <li>
                <svg class="social-icon" width="20" height="20">
                    <use href="./images/icons.svg#icon-facebook"></use>
                </svg>
            </li>
            <li>
                <svg class="social-icon" width="20" height="20">
                    <use href="./images/icons.svg#icon-instagram"></use>
                </svg>
            </li>
            <li>
                <svg class="social-icon" width="20" height="20">
                    <use href="./images/icons.svg#icon-youtube"></use>
                </svg>
            </li>
        </ul>
    </section>
    <div>
        <ul class="footer-privacy">
            <li>©2022 The Watch Spot. All rights reserved.</li>
            <li>
                <a href="">Privacy Policy</a>
                <a href="">Terms of Service</a>
            </li>
        </ul>
    </div>
</footer>