<header>
  <div class="header-logo container">
    <div class="nav-logo">
      <!-- logo -->
      <div class="logo-container">
        <svg class="logo" width="19" height="19">
          <use href="./images/icons.svg#icon-logo"></use>
        </svg>
        <span>thewatchspot</span>
      </div>
      <!-- navigation list -->
      <nav class="nav-container">
        <ul class="nav-list">
          <!-- target about us section -->
          <li class=""><a href="#about">about us</a></li>
          <!-- target catalog section -->
          <li class=""><a href="#catalog">catalog</a></li>
          <!-- target sale section -->
          <li class=""><a href="#sale">sale</a></li>
        </ul>
      </nav>
    </div>
    <!-- contact button -->
    <div class="button">
      <button type="button" class="btn-tel">
        <a href="tel:+380684439426">+380 (68) 443-94-26</a>
      </button>
    </div>
  </div>
  <div class="mobile-container">
    <!--mobile-menu-->
    <div class="mobile-header">
      <div class="logo-container logo-mobile">
        <svg class="logo" width="19" height="19">
          <use href="./images/icons.svg#icon-logo"></use>
        </svg>
        <span>thewatchspot</span>
      </div>
      <div class="mobile-open-menu">
        <svg class="js-open-menu" aria-expanded="false" aria-controls="mobile-modal">
          <use href="./images/icons.svg#icon-hamburger-menu"></use>
        </svg>
      </div>
    </div>
    <!-- menu list -->
    <div class="js-menu-container mobile-modal" id="mobile-modal">
      <div class="mobile-logo-container">
        <div class="logo-container">
          <svg class="logo" width="19" height="19">
            <use href="./images/icons.svg#icon-logo"></use>
          </svg>
          <span>thewatchspot</span>
        </div>
        <!-- close menu -->
        <div class="js-close-menu">
          <svg class="icon-close-mobile">
            <use href="./images/icons.svg#icon-close"></use>
          </svg>
        </div>
      </div>
      <!-- mobile navigation -->
      <nav class="nav-container mobile-nav-container">
        <ul class="nav-list">
          <!-- target about us section -->
          <li class="js-close-menu"><a href="#about">about us</a></li>
          <!-- target catalog section -->
          <li class="js-close-menu"><a href="#catalog">catalog</a></li>
          <!-- target sale section -->
          <li class="js-close-menu"><a href="#sale">sale</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>