<!-- sale section -->
<section class="sale-section container">
    <ul class="sale-container">
        <li class="sale-text">
            <h2>Sale</h2>
        </li>
        <li class="sale-img-container">
            <!-- grid images -->
            <ul class="sale-img-list">
                <!-- four images  -->
                <li class="sale-images">
                    <ul class="sale-img-small">
                        <li class="sale-img-grid">
                            <img src="./images/sale_1.jpg" alt="sale images">
                        </li>
                        <li class="sale-img-grid">
                            <img src="./images/sale_2.jpg" alt="sale images">
                        </li>
                        <li class="sale-img-grid">
                            <img src="./images/sale_3.jpg" alt="sale images">
                        </li>
                        <li class="sale-img-grid">
                            <img src="./images/sale_4.jpg" alt="sale images">
                        </li>
                    </ul>
                    <ul>
                        <li class="sale-img-large">
                            <img src="./images/sale_5.png" alt="sale images">
                        </li>
                    </ul>
                </li>
                <!-- sale description -->
                <li class="sale-disc-container">
                    <ul class="sale-disc-top">
                        <li class="sale-disc-title">
                            <h3>Greenlane Watch By Police For MenHT</h3>
                        </li>
                        <li class="sale-price">
                            <ul class="sale-information-container">
                                <li class="sale-information-price">
                                    <p>Product tag: PEWJK2227003</p>
                                </li>

                                <li>
                                    <ul class="sale-price-container">
                                        <li class="sale-new-price">
                                            <p>€700</p>
                                        </li>
                                        <li class="sale-old-price">
                                            <p>€1000</p>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="sale-information">
                        <li>
                            <ul class="sale-info-list">
                                <li class="sale-description">
                                    <p>Description</p>
                                </li>
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="2"
                                        viewBox="0 0 16 2" fill="none">
                                        <path d="M0 1H16" stroke="#141414" />
                                    </svg>
                                </li>
                            </ul>
                            <!-- insert minus svg -->
                        </li>
                        <li class="classy-information">
                            <p>Richly detailed with an understated design - the Police Men’s Greenlane
                                watch
                                features a versatile multifunction design that fits effortlessly into work and play. The steel case
                                is
                                adorned with a semi-transparent black dial. The timepiece exhibits a contrast through a black IP
                                bracelet with matching crown and pushers.</p>
                        </li>
                    </ul>
                    <ul class="sale-information">
                        <li>
                            <ul class="sale-info-list">
                                <li class="sale-description">
                                    <p>DETAILS & FEATUREStion</p>
                                </li>
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="2"
                                        viewBox="0 0 16 2" fill="none">
                                        <path d="M0 1H16" stroke="#141414" />
                                    </svg>
                                </li>
                            </ul>
                            <!-- insert minus svg -->
                        </li>
                        <li class="classy-information">
                            <p>Gender: man <br>
                            Size: 46x54.5mm <br>
                            Case Colour: Steel <br>
                            Band Material: Metal <br>
                            Case Material: Metal <br>
                            Features: Multifunction <br>
                            Water Resistant: 5 (ATM) <br>
                            Band Colour: Steel</p>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul> 
</section>