<!-- sale section -->
<section class="sale-section container">
    <h2 class="sale-text" id="sale">Sale</h2>
    <table class="sale-image">
        <tr>
            <td class="sale-image1">
                <img src="./images/sale_1.jpg" alt="">
            </td>
            <td rowspan="4" class="sale-image5">
                <img src="./images/sale_5.png" alt="">
            </td>
        </tr>
        <tr>
            <td class="sale-image2">
                <img src="./images/sale_2.jpg" alt="">
            </td>
        </tr>
        <tr>
            <td class="sale-image2">
                <img src="./images/sale_3.jpg" alt="">
            </td>
        </tr>
        <tr>
            <td class="sale-image2">
                <img src="./images/sale_4.jpg" alt="">
            </td>
        </tr>
    </table>
    <div class="sale-div">
        <ul class="classy-text">
            <li>
                <h3 class="classy-title">Greenlane Watch By <br>
                    Police For MenHT </h3>
            </li>
            <li>
                <p class="classy-information">Product tag: PEWJK2227003</p>
            </li>
            <li class="classy-price">
                <div>€700</div>
                <div class="classy-strikethrough-price">€1000</div>
            </li>
        </ul>
        <ul class="information">
            <li>
                <p class="sale-description">Description <svg xmlns="http://www.w3.org/2000/svg" width="16" height="2"
                        viewBox="0 0 16 2" fill="none">
                        <path d="M0 1H16" stroke="#141414" />
                    </svg></p>
                <!-- insert minus svg -->
            </li>
            <li>
                <p class="classy-information">Richly detailed with an understated design - the Police Men’s Greenlane
                    watch
                    features a versatile multifunction design that fits effortlessly into work and play. The steel case
                    is
                    adorned with a semi-transparent black dial. The timepiece exhibits a contrast through a black IP
                    bracelet with matching crown and pushers.</p>
            </li>
        </ul>
        <ul>
            <li>
                <p class="sale-details">DETAILS & FEATUREStion <svg xmlns="http://www.w3.org/2000/svg" width="16"
                        height="2" viewBox="0 0 16 2" fill="none">
                        <path d="M0 1H16" stroke="#141414" />
                    </svg></p>
                <!-- insert minus svg -->
            </li>
            <li>
                <p class="classy-information">Gender: man <br>
                    Size: 46x54.5mm <br>
                    Case Colour: Steel <br>
                    Band Material: Metal <br>
                    Case Material: Metal <br>
                    Features: Multifunction <br>
                    Water Resistant: 5 (ATM) <br>
                    Band Colour: Steel</p>
            </li>
        </ul>
    </div>
</section>